<div id="main-content" class="container">
  <div class="row sticky-top">
    <div class="col-md-6 ">
      <input [(ngModel)]="caseId" class="form-control">
      <form class="form-inline">
        <div class="form-group">
          <div class="padding-top-9">
            <button (click)="getIntegratedResult()" class="btn btn-success form-control margin-lft-5" type="submit">
              result
            </button>
          </div>
        </div>
      </form>
    </div>
    <!--<div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="name">Id</label>
          <input type="text" [(ngModel)]="name" class="form-control" name="name"> <br>
        </div>
        &lt;!&ndash;<button (click)="_send('message')" class="btn btn-default" type="submit">Send</button>&ndash;&gt;
      </form>
    </div>-->

    <!--    <p> {{ greeting }}</p>-->
  </div>
