<!--<button class="btn btn-info" (click)="_connect()">connect</button>-->
<div id="main-content" class="container">

  <div class="row">
    <div class="col-md-12">
      {{ greeting }}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <div><label for="connect">WebSocket connection:</label></div>
          <div>
            <button (click)="_connect()" class="btn btn-info" type="submit">Connect</button>
            <button (click)="rxconnect()" class="btn btn-info" type="submit">rxConnect</button>
            <button (click)="_disconnect()" class="btn btn-danger" type="submit">Disconnect
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-6">
      <form class="form-inline">
        <div class="form-group">
          <label for="name">What is your name?</label>
          <input type="text" [(ngModel)]="name" class="form-control" name="name"> <br>
        </div>
        <button (click)="_send('message')" class="btn btn-default" type="submit">Send</button>
      </form>
    </div>

    <p> {{ greeting }}</p>
  </div>

</div>
