<p>WebSocket Form</p>
<div class="margin-lft-10 form-group sticky-top">
  <div class="row">
    <input [(ngModel)]="caseId" class="form-control" placeholder="Case Id..">
  </div>
  <div class="row margin-top-5">
    <!--<button class="btn btn-primary" (click)="connect()">stomp-connect</button>-->
    <button (click)="webconnect_rx()" class="btn btn-success margin-lft-5">web-connect</button>
    <button (click)="disconnect()" class="btn btn-danger margin-lft-5">disconnect</button>
  </div>
</div>


<!--<div>{{cases}}</div>-->
<div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Index</th>
      <th class="align-content-center">Case narrative</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let case of cases ; let i=index">
      <td>{{i}}</td>
      <td>
        {{case}}
      </td>
    </tr>
    </tbody>
  </table>
</div>
