<!--<p class="text-white">resume work in progress!</p>-->
<div class="bg-dark">
  <div class="row">

    <div class="col-md-9">
      <h2 class="text-white margin-lft-5">resume</h2>
      <div class="row margin-lft-5">
        <div class="col-md-2 text-success">
          <span class="font-italic">4 years in coding</span>
        </div>
        <div class="col-md-2 text-success">
          <span class="font-italic">1 year in planning</span>
        </div>
        <div class="col-md-2 text-success">
          <span class="font-italic">Bachelor's degree</span>
        </div>
      </div>

      <div class="abt-padding margin-lft-5">
        <span class="text-white">
          Current working descriptions
        </span>
      </div>
      <hr>

      <div class="row">
        <i class="fa fa-cog text-success fa-2x margin-lft-5" aria-hidden="true"></i>
        <h3 class="text-white margin-lft-10">skills</h3>
        <div class="col-md-2">
          <span class="text-white">Web Development</span>
        </div>
      </div>

      <br>
    </div>
  </div>
</div>
