/* You can add global styles to this file, and also import other style files */

.abt-padding {
  padding-top: 10px;
}
.margin-lft-5 {
  margin-left: 5px;
}
.margin-lft-10 {
  margin-left: 10px;
}

.margin-top-5 {
  margin-top: 5px;
}
.padding-top-9 {
  padding-top: 9px;
}

